.app {
  color: gray;
  margin-left: 150px;
  margin-right: 150px;
  font-size: x-large;
  text-align: justify;
}

h1 {
  
   
}

.post-item ls{
  list-style: none
}

@media(max-width: 950px) {
  .app {
    margin-left: 50px;
    margin-right: 50px;
    color: gray;
  }
  h1 {
    font-size: 30px;
  }
}